<%-include('../partials/head.ejs')%>
  </head>
  <body>
    <%-include('../partials/nav.ejs')%>
    <main>
      <h2>Available Homes</h2>
<ul class="homes-list">

  <% favouritesWithDetails.forEach((home)=>{ %>

    <li class="home-card">

      <img src="<%= home.photoUrl %>" alt="home image" class="home-img">

      <div class="home-info">
        <h3 class="home-title"><%= home.houseName %></h3>

        <p class="home-location">📍 <%= home.location %></p>

        <p class="home-rating">⭐ <%= home.rating %> / 5</p>

        <p class="home-price">$<%= home.price %> / night</p><br>
        <p class="home-price"><%= home.description %></p>
                        <form action="/favourites/delete/<%= home.id %>" method="POST" style="display:inline;">
                  <button type="submit" class="btn btn-delete" style="padding: 5px 10px; background-color: #f44336; color: white; border: none; border-radius: 5px; cursor: pointer;">Delete</button>
                </form>
      </div>
      

    </li>

  <% }) %>

</ul>
    </main>
  </body>
</html>
